.header {
  background: #0e0c38;
}
.headerInner {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.navBar,
.logo {
  position: relative;
  z-index: 3;
}
.navBar a {
  color: #fff;
  font-size: 22px;
  padding: 66px 25px 25px;
  transition: 0.3s ease-in-out;
  position: relative;
}

.navBar a.getStarted {
  height: 72px;
  border: 2px solid;
  padding: 20px 45px;
  align-items: center;
  border-radius: 100px;
  margin-left: 25px;
  width: auto;
}
.navBar a:hover {
  background-color: #ff0513;
}
.navBar a:hover::after {
  content: "";
  height: 1px;
  background-color: #ff0513;
  width: 100%;
  position: absolute;
  bottom: -6px;
  left: 0px;
}

.navBar a.getStarted:hover {
  border: 2px solid #ff0513;
}

#toggle {
  width: 28px;
  height: 30px;
  margin: 10px 0 10px auto;
  display: none;
}

#toggle div {
  width: 100%;
  height: 3px;
  background: white;
  margin: 6px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}
.headerShape {
  position: absolute;
  z-index: 1;
  left: 27%;
}
.headerShape img {
  max-width: 370px;
}

@media (max-width: 1024px) {
  .logo img {
    max-width: 200px;
  }
  .navBar a {
    color: #fff;
    font-size: 19px;
    padding: 40px 20px 15px;
  }
  .navBar a.getStarted {
    height: 60px;
    padding: 14px 35px;
  }
  .headerShape {
    display: none;
  }
}

@media (max-width: 991px) {
  #toggle {
    display: block;
  }
  .headerInner {
    align-items: center;
  }
  .navBar {
    position: relative;
    right: 0;
    top: 0px;
    width: 100%;

    flex: 0 0 100%;
    background: #0e0c38;
  }
  .navBar nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: left;
    align-items: flex-start;
    height: 0px;
    visibility: hidden;
    -webkit-transition: all 0.26s ease-in-out;
    -moz-transition: all 0.26s ease-in-out;
    -ms-transition: all 0.26s ease-in-out;
    -o-transition: all 0.26s ease-in-out;
    transition: all 0.26s ease-in-out;
  }
  .navBar nav a {
    padding: 26px 25px 25px;
  }
  .navBar a.getStarted {
    margin-top: 25px;
  }
  .headerInner {
    flex-wrap: wrap;
  }
}
